@using Olimpiadas.Web.CMS.Helper
@model Olimpiadas.Web.CMS.Areas.Contenido.ViewModels.Personal.PersonalGridViewModel
@{
    //var set = HelperFormat.PermisosExists(Model.Opciones, ResourcesOpciones.AdministrarAlertas_Modificar);
    //var desactivar = HelperFormat.PermisosExists(Model.Opciones, ResourcesOpciones.AdministrarAlertas_Desactivar);
    //var activar = HelperFormat.PermisosExists(Model.Opciones, ResourcesOpciones.AdministrarAlertas_Activar);
    var set = true;
    var desactivar = true;
    var activar = true;
    await Html.RenderPartialAsync("~/Views/Partial/_pagination.variable.cshtml", Model);
}

<div class="table-responsive">
    <table class="table table-striped default-table">
            <thead>
                <tr class="row-filter">
                    <th class="min-60">
                        <input asp-for="Filtro.NombrePersonal" class="form-control filterText" maxlength="20" />
                    </th>
                    <th class="min-50">
                        <input asp-for="Filtro.DniPersonal" class="form-control filterText" maxlength="20" />
                    </th>
                    <th class="column-clean" colspan="2">
                        <a title="Limpiar">Limpiar</a>
                    </th>
                </tr>
                <tr class="row-head">
                    <th>Nombre Personal</th>
                    <th>DNI</th>
                    <th>Activo</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
        <tbody>
            @foreach (var item in Model.Lista)
            {
            <tr>
                <td>@item.NombrePersonal</td>
                <td>@item.DniPersonal</td>
                <td class="column-center margin-right w-58">
                    @HelperFormat.SiNoColors(item.Activo)
                </td>
                @HelperFormat.ColumnActivarDesactivar(item.Activo, item.IdPersonal, activar, desactivar)
                @HelperFormat.ColumnSet(item.IdPersonal, set)
            </tr>
            }
        </tbody>
    </table>
</div>

@{await Html.RenderPartialAsync("~/Views/Partial/_pagination.navigation.cshtml", Model.Lista); }